body{
	font-family: "Open Sans", sans-serif;
	color: white;
	font-size: 16px;
}

a{
	text-decoration: none;
	color: inherit;
}

/*#cntDwnTimer{

	background-color: #FDB833;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
	flex-wrap: wrap;
	color: pink;
	font-size: 0.85em;
}

.timerBox{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 5px;
	color: white;
}

.cntDwnBox {
	padding: 5px;
	background-color: rgba(100,100,100,0.5);
	font-size: 18px;
	font-weight: bold;
}*/

header{
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #296EB4;
	display: flex;
	align-items: center;
}

#mainNav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #296EB4;
}

#mainNav li{
	width: 100%;
}

#mainNav li a{
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	padding: 17px 12px;
/*	font-weight: bold;*/
	text-align: center;
}

#mainNav li a:hover{
	background-color: #3590F3;
}

header img{
	position: absolute;
	left: 5px;
}

#mobNavDrop{
	display: inline-block;
	position: absolute;
	right: 10px;
	font-size: 24px;
}

header span .fa-times{
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 24px;
}

@media screen and (min-width:1000px){
	#mainNav{
		flex-direction: row;
		margin: 0 auto;
		position: relative;
		width: initial;
		height: initial;
		background-color: transparent;
	}

	#mainNav li{
		width: initial;
	}

	#mainNav li a{
		display: inline-block;
		width: initial;
	}

	#mobNavDrop{
		display: none;
	}

	header span .fa-times{
		display: none;
	}

}

@media screen and (max-width: 1000px) and (max-height: 400px){
	#mainNav li a{
		padding: 10px 12px;
	}
}